---
layout: default
---

<h1>{{ page.title }}</h1>

<p class="meta">{{ page.date | date_to_string }}&nbsp;&nbsp;&nbsp;&nbsp;

{% if page.tags %}
<span class="tag">tags:&nbsp;
    {% for tag in page.tags %}
      {% assign lastone = page.tags | last %}
      {% if tag == lastone %}
      <span class="tag">{{ tag }}</span>
      {% else %}
      <span class="tag">{{ tag }}&nbsp;|&nbsp;</span>
      {% endif %}
    {% endfor %}
  </span>
{% endif %}

</p>

<div class="post">
	{{ lastone }}
{{ content }}
  
</div>
